.mission {
  text-align: center;
  line-height: 1.;
  margin-left: 600px;
  margin-right: 400px;
  font-family: 'Julee', cursive;
  font-size: 1.2em;
  font-display: 40px;
  padding-top: 50px;
  padding-right: 200px;
}
h1{
  padding-top: 100px;
}
h2 {
  font-family: 'Julee', cursive;
  font-size:3em;
}
h2.qsns{
margin-top: 70px;
margin-bottom: 70px;
font-weight: bold;
text-align: center;
}
h3.h3qsn {
font-size: 17px;
}

h4{
  text-align: center;
  font-size: px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body {
  height: 100%;
  margin: 0;
  font-family: 'Julee', cursive;
}

.tablink {
  background-color: #b22222;
  color:white;
  border: 100%;
  border-radius: 60px;
  border-right-style: hidden;
  outline: none;
  cursor: pointer;
  padding: 10px  10px;
  font-size: 10px;
  width: 50%;
  height: 50px;
}
.tablink:hover {
  background-color:rgb(245, 170, 78);
  text-emphasis: hover black;
}
/*Style the tab content (and add width:100% for full page content)*/
.qstns {
  color:black;
}

.para1, .para2, .para3, .para4, .para5, .para6{
  display:none;
  padding-top: 15px;
}
.cont {
  text-align: left;
}
.col {
  margin-bottom: 15px;
}
.para1{
text-align: justify;
}
.para2{
  text-align: justify; 
}
.para3{
  text-align: justify; 
}
.para4{
  text-align: justify;
}
.para5{
  text-align: justify;
}
.para6{
  text-align: justify;
}

