.mission {
    text-align: center;
    text-justify: initial;
    margin-left: 600px;
    margin-right: 400px;
    font-family: 'Julee', cursive;
    font-size: 1.1em;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body {
    height: 100%;
    margin: 0;
    font-family: 'Julee', cursive;
  }
/* Style tab links */
.tablink {
    background-color: #b22222;
    color:white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px  7px;
    font-size: 8px;
    width: 64%;
    height: 30px;
  }
  .tablink:hover {
    background-color: #777;
  }
  
